<div class="login-container">
    <app-logo></app-logo>
    <p>Glad having you back!</p>
    <form >
        <div class="field-container">
            <label for="email">Email</label>
            <input type="text" name="" id="email">
        </div>
        <div class="field-container">
            <label for="password">Password</label>
            <input type="password" name="" id="password">
        </div>
        <div class="buttons-container">
            <button class="submit-btn" type="submit">Login</button>
            <button class="switch-btn" type="button">Go to register</button>
        </div>
    </form>
</div>
