<div class="login-container">
    <app-logo></app-logo>
    <p>Glad having you back!</p>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)">
        <div class="field-container">
            <label for="email">Email</label>
            <app-input [control]="email"></app-input>
        </div>
        <div class="field-container">
            <label for="password">Password</label>
            <app-input [control]="password" type="password"></app-input>
        </div>
        <div class="buttons-container">
            <button class="submit-btn" type="submit">Login</button>
            <button class="switch-btn" type="button">Go to register</button>
        </div>
    </form>
</div>
