<div class="login-container">
    <app-logo></app-logo>
    <p>We support your tastes, come join us !</p>
    <form >
        <div class="fields-container">
            <div class="field-container">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" type="text">
            </div>
            <div class="field-container">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName">
            </div>
        </div>
        <div class="field-container">
            <label for="email">Email</label>
            <input type="text" name="" id="email">
        </div>
        <div class="field-container">
            <label for="password">Password</label>
            <input type="password" name="" id="password">
        </div>
        <div class="field-container">
            <label for="password">Confirm password</label>
            <input type="password" name="" id="password">
        </div>
        <div class="buttons-container">
            <button class="submit-btn" type="submit">Register</button>
            <button class="switch-btn" type="button">Go to login</button>
        </div>
    </form>
</div>
