.logo-container {
        padding: 5px 25px;
        margin: auto;
        font-family: 'Acme', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: rgb(169, 82, 16);
        border-radius: 0px 0px 0px 70px;
        font-size: 14px;
        color: rgb(40, 3, 66);
}