<div class="backdrop" ></div>
<div class="box">
  <h2>Add your adress</h2>
  <div class="container">
    <div class="location">
        <div class="search-location">
            <div class="input-area">
                <mat-icon class="icon"> edit_location</mat-icon>
            <input placeholder="Enter your location" type="text">
            </div>
            <hr>
            <div class="current-location">
                <mat-icon class="icon">arrow_right_alt</mat-icon>
                <span>Use current location</span>
            </div>
        </div>
        <span class="map-link">Pin on the map</span>
    </div>
    <div class="map-image">
        <img src="https://img.freepik.com/premium-vector/city-map-with-pins-town-roads-residential-blocks-gps-navigation-route-with-pointers-abstract-urban-travel-locating-geo-infographic-background_176411-909.jpg?w=2000" alt="">
    </div>
  </div>
</div>













































































































