<div class="container">
    <div class="deal-container">
        <img src="../../../assets/deal.webp" alt="">
        <h1>We can grow together</h1>
    </div>
    <div class="partners-container">
        <div class="partner-container">
            <h2>Join as client</h2>
            <img src="https://images.pexels.com/photos/4393665/pexels-photo-4393665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quam voluptatum. Eos dolorem dolor corporis aliquam, adipisci doloribus ipsum velit alias ducimus impedit ad asperiores eius sit tempora laboriosam quibusdam!</p>
            <button>Register here</button>
        </div>
        <div class="partner-container">
            <h2>Join as partner</h2>
            <img src="https://images.pexels.com/photos/17876131/pexels-photo-17876131/free-photo-of-bucatarie-gatit-abur-aragaz.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam labore cumque quo assumenda vero fugiat voluptatibus, distinctio saepe nam, beatae laudantium odio? Sint autem adipisci aut, harum quibusdam eveniet est!</p>
            <button>Register here</button>
        </div>
        <div class="partner-container">
            <h2>Join as rider</h2>
            <img src="https://images.pexels.com/photos/16184010/pexels-photo-16184010/free-photo-of-bicicleta-pachet-calarie-echita-ie.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, totam vitae unde modi mollitia est illo sit delectus earum aspernatur. Fugiat eos distinctio assumenda iure blanditiis inventore commodi quaerat. Laboriosam.</p>
            <button>Register here</button>
        </div>
    </div>
</div>
