<div class="overlay"></div>
<div class="container">
    <h2>Welcome back there, Marcel</h2>
    <div class="content-container">
        <div class="data-container">
            <span>Edit</span>
            <div class="hint">First Name</div>
            <div class="value">Oposum</div>
            <div class="hint">Last Name</div>
            <div class="value">Marcel</div>
            <div class="hint">Email</div>
            <div class="value">oposum69marcel@fker.com</div>
        </div>
        <div class="data-container">
            <span>Edit</span>
            <div class="hint">Phone number</div>
            <div class="value">072244112</div>
        </div>
        <div class="data-container">
            <span>Edit</span>
            <div class="hint">Password</div>
            <div class="value">
                <mat-icon class="pass">brightness_1</mat-icon>
                <mat-icon class="pass">brightness_1</mat-icon>
                <mat-icon class="pass">brightness_1</mat-icon>
                <mat-icon class="pass">brightness_1</mat-icon>
                <mat-icon class="pass">brightness_1</mat-icon>
                <mat-icon class="pass">brightness_1</mat-icon>
                <mat-icon class="pass">brightness_1</mat-icon>
                <mat-icon class="pass">brightness_1</mat-icon>
            </div>
        </div>
        <div class="data-container">
            <span>Add voucher</span>
            <div class="hint">Vouchers</div>
            <div class="value">-</div>
        </div>
        <button>Logout</button>
        </div>
        <div class="location-container"></div>
        <div class="order-container"></div>
</div>

