<div class="home-container">
    <div class="home-first-container">
        <!-- <div class="search-bar"></div> -->
        <div class="empty-container"></div>
        <div class="description-container">
            <h1>More than just food delivery !</h1>
            <p>Restaurants and personalised orders, right in front of your door</p>
            <div class="location-bar">
                <div class="location-icon">
                    <mat-icon>location_city</mat-icon>
                </div>
                <input type="text" placeholder="Current location ?">
                <div class="current-location">
                    <mat-icon> location_on</mat-icon>
                    <span>Use current location</span>
                </div>
            </div>
        </div>
        
    </div>
    <app-oportunities></app-oportunities>
    <app-selections></app-selections>
    <app-cities></app-cities>
    <app-brands></app-brands>
    <app-footer></app-footer>
    <app-profile></app-profile>
</div>